/*BASE*/
@import url('./reset.css');
/*VARIABLES*/
@import url('./variables.css');

/*CUSTOM STYLE*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-kumbh);
  font-size: 12px;
  font-weight: 400;
  background-image: linear-gradient(
    to bottom left,
    var(--clr-softViolet),
    var(--clr-softBlue)
  );
}

.container {
  width: 900px;
  border-radius: 15px;
  background-color: #fff;
  position: relative;
}

.women-container {
  display: inline-block;
  height: 350px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.women {
  height: 100%;
  margin-left: -16%;
}

.box {
  position: absolute;
  top: 42%;
  left: -10.5%;
}

.text-content {
  height: 500px;
  float: right;
  width: 40%;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0px;
}
h1 {
  margin-bottom: 10px;
}

.qna-box {
  padding: 10px 0;
  border-bottom: 1px solid grey;
}

h2 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-right: 5px;
  font-size: 1em;
  font-weight: 400;
}

h2:hover {
  color: red;
  cursor: pointer;
}

h2.selected {
  font-weight: 700;
}

h2 .arrow {
  place-self: center;
  width: 10px;
  height: 8px;
}

h2 .arrow.rotate {
  transform: rotate(180deg);
}

p {
  display: none;
}

.qna-box.show > p {
  display: block;
}
