/*BASE*/
@import url('./reset.css');
/*VARIABLES*/
@import url('./variables.css');

/*CUSTOM STYLE*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-kumbh);
  font-size: 12px;
  font-weight: 400;
  background-image: linear-gradient(
    to bottom left,
    var(--clr-softViolet),
    var(--clr-softBlue)
  );
}

.container {
  width: 900px;
  border-radius: 15px;
  background-color: #fff;
  position: relative;
  box-shadow: var(--clr-darkGreyBlue) 0px 20px 25px -5px;
  /* overflow: hidden; */
}

.women-container {
  display: inline-block;
  height: 300px;
  width: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  /* background-image: url('../images/bg-pattern-desktop.svg'); */
}

.women {
  height: 100%;
  margin-left: -13%;
}

.bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: none;
}
.women-mobile {
  display: none;
}

.box {
  /* display: none; */
  height: 37.5%;
  position: absolute;
  top: 40.5%;
  left: -10.5%;
}

.text-content {
  height: 500px;
  float: right;
  width: 40%;
  margin-right: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0px;
}
h1 {
  margin-bottom: 10px;
  color: var(--clr-txt-darkBlue);
}

.qna-box {
  padding: 10px 0;
  border-bottom: 1px solid var(--clr-dividerBlue);
}

h2 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-right: 5px;
  font-size: 1em;
  font-weight: 400;
  color: var(--clr-veryDarkGrayBlue);
}

h2:hover {
  color: var(--clr-txt-softRed);
  cursor: pointer;
}

h2.selected {
  font-weight: 700;
  color: var(--clr-txt-darkBlue);
}

h2 .arrow {
  place-self: center;
  width: 10px;
  height: 8px;
}

h2.rotate > .arrow {
  transform: rotate(180deg);
}

p {
  display: none;
}

.qna-box.show > p {
  display: block;
  color: var(--clr-darkGreyBlue);
  animation: slowDraw 0.3s linear;
}

footer {
  display: none;
}
/*MEDIA*/

@media (max-width: 420px) {
  body {
    padding: 15px 25px;
    padding-top: 30%;
  }
  .container {
    width: 100%;
  }
  .women-container {
    display: none;
    width: 200px;
    height: auto;
    position: absolute;
    top: -16%;
    left: 50%;
    transform: translateX(-50%);
    overflow: visible;
  }
  .women {
    display: none;
  }
  .women-mobile {
    display: block;
    width: 100%;
    margin-left: -16px;
  }

  .bg {
    display: none;
  }

  .text-content {
    width: 100%;
    height: auto;
    min-height: 500px;
    padding: 0 20px;
    padding-bottom: 20px;
    margin: 0;
  }
  h1 {
    text-align: center;
  }
  .box {
    display: none;
  }
}

/*ANIMATIONS*/

@keyframes slowDraw {
  0% {
    height: 0;
    opacity: 0;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}
